.o-map {
  width: 100%;
  height: 100%;
}

.o-map__background {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;

  .-open & {
    transform: translateX(-9%);
  }
}

.o-map__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.o-map__zoneList {
  position: absolute;
  top: 4%;
  left: 15%;
  width: 705px;
  height: 930px;
}

.o-map__zoneItem {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: $color-white;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  animation: bounce 1s ease-in-out alternate-reverse infinite;

  &:nth-of-type(1) {
    animation-delay: 0s;
  }

  &:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.1s;
  }

  &:nth-of-type(4) {
    animation-delay: 0.3s;
  }

  &:nth-of-type(5) {
    animation-delay: 0.1s;
  }

  &:nth-of-type(6) {
    animation-delay: 0s;
  }

  &:nth-of-type(7) {
    animation-delay: 0.2s;
  }

  .icon {
    position: relative;
    width: 32px;
    height: 32px;
    fill: $color-gold;
  }

  /* Modifier */
  &.-open {
    background: $color-gold;
    animation: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 110px;
      height: 110px;
      background: rgba($color-gold, 0.4);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      content: "";
      z-index: 0;
    }

    .icon {
      fill: $color-white;
    }
  }
  /* END Modifier */
}

.o-map__contentItem {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &.-open {
    transform: translateX(835px);
  }
}

.o-map__intro {
  position: absolute;
  right: 15%;
  bottom: 21%;
  max-width: 510px;
  color: $color-white;

  .t-title {
    margin-bottom: 35px;

    span {
      color: $color-orange;
    }
  }

  .t-text {
    white-space: pre-line;
  }

  .t-help {
    display: flex;
    align-items: center;
    margin-top: 25px;
    max-width: 80%;
  }

  .icon-hand {
    margin-right: 15px;
    width: 150px;
    height: 90px;
  }

  .icon-pin {
    margin: 0 3px;
    width: 15px;
    height: 15px;
    fill: $color-white;
  }
}
