.mcam-card-filter {
  position: relative;
  width: 100%;
  height: 175px;

  @media #{$desktop-up} {
    width: 370px;
    height: 266px;
  }

  &:hover {
    .no-touch & {
      //.no-touch .mcam-card-filter:hover .mcam-card-filter__picture:after
      .mcam-card-filter__picture:after {
        background: rgba(63, 118, 172, 0.4);
      }
    }
  }

  &__picture {
    //.mcam-card-filter__picture::after
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      
      background: rgba(63, 118, 172, 0.55);
      background-blend-mode: multiply;

      transition: background .3s;
    }
  }

  //.mcam-card-filter img
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    filter: grayscale(1);
  }

  //.mcam-card-filter__title, .mcam-card-filter__icon
  &__title,
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  //.mcam-card-filter__title
  &__title {
    width: 100%;

    color: $white;
    font-size: rem(18px);
    line-height: rem(25px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  //.mcam-card-filter__icon
  &__icon {
    left: 50%;
    height: 120px;
    width: 120px;
    
    fill: $blueSky;
    transform: translate(-50%, -50%);

    @media #{$desktop-up} {
      height: 93px;
      width: 93px;
    }
  }
}