.mcam-card-image {

  &__picture {
    height: 100%;

    @media #{$tablet-up} {
      .ie & { 
        height: 268px;
      }
    }
  }
  
  //.mcam-card-image img
  img {
    height: 160px;
    object-fit: contain;

    @media #{$tablet-up} {
      height: 220px;

      .ie & {
        height: auto;
      }
    }
  }

  //.mcam-card-image strong
  strong {
    font-style: normal;
  }
}