.mcam-card-image {

  &__picture {
    height: 100%;
  }
  
  //.mcam-card-image img
  img {
    height: 160px;
    object-fit: contain;

    @media #{$tablet-up} {
      height: 220px;
    }
  }

  //.mcam-card-image figcaption
  figcaption {
    margin-top: 12px;

    color: $greyLight;
    font-size: rem(12px);
    line-height: rem(18px);
    font-weight: 600;
    font-style: italic;
  }

  //.mcam-card-image strong
  strong {
    font-style: normal;
  }
}