.mcam-card-image {
  //.mcam-card-image img
  img {
    width: 100%;
    object-fit: cover;
  }

  //.mcam-card-image figcaption
  figcaption {
    margin-top: 12px;

    color: $greyLight;
    font-size: rem(12px);
    line-height: rem(18px);
    font-weight: 600;
    font-style: italic;
  }

  //.mcam-card-image strong
  strong {
    font-style: normal;
  }
}