.mcam-card-news {
  position: relative;

  width: 100%;
  max-width: 300px;

  @media #{$desktop-up} {
    max-width: 353px;
  }

  &:hover {
    .no-touch & {
      .mcam-card-news__picture:after {
        opacity: 0;
      }

      .mcam-cta-icon {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__picture {
    position: relative;
    display: block;
    
    height: 232px;
    
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      
      background: $black;
      opacity: 0.3;

      transition: opacity .3s;
    }
    
    //.mcam-card-news__picture img
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      .ie & {
        max-width: none;
        min-height: 100%;
        height: auto;
      }
    }
  }

  &__content {
    //.mcam-card-news__content-date
    &-date {
      margin: 11px 0 6px;

      color: $grey;

      font-size: rem(12px);
      line-height: rem(16px);
      font-weight: 600;
    }

    //.mcam-card-news__content-title
    &-title {
      font-size: rem(18px);
      line-height: rem(25px);
      font-weight: bold;
    }
  }

  .mcam-cta-icon {
    margin: 20px 0;

    opacity: 0;
    transform: translateY(10px);

    transition: all .3s;

    .icon {
      transform: rotate(-90deg);
    }
  }
}