.mcam-card-product {
  position: relative;

  padding-bottom: 10px;
  width: 100%;

  border-bottom: 1px solid #E0E0E0;

  transition: box-shadow .3s;
  
  @media #{$desktop-up} {
    max-width: 260px;
  }

  &:hover {
    //.no-touch .mcam-card-product:hover
    .no-touch & {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

      z-index: 1;
    }
  }

  &__picture {
    //.mcam-card-product__picture img
    img {
      height: 136px;
      width: 100%;
      object-fit: cover;

      .ie & {
        height: auto;
      }
    }
  }

  //.mcam-card-product__content
  &__content {
    padding: 8px;

    //.mcam-card-product__content-title
    &-title {
      margin-top: 8px;

      font-size: rem(18px);
      line-height: rem(27px);
      font-weight: bold;
    }

    //.mcam-card-product__content-description
    &-description {
      height: 44px;
      
      color: $grey;
      font-size: rem(16px);
      line-height: rem(22px);
    }
  }

  //.mcam-card-product__bottom
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding: 4px 8px;

    //.mcam-card-product__bottom hr
    hr {
      margin: 0 8px;
      padding: 0;

      height: 25px;
      width: 1px;

      background: #E0E0E0;
      border: none;
    }

    //.mcam-card-product__bottom > span
    & > span {
      width: calc(100% - 95px);

      font-size: rem(12px);
      line-height: rem(12px);
      font-weight: 600;
    }

    //.mcam-card-product__bottom-download
    &-download {
      position: absolute;
      right: 10px;
      bottom: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;

      height: 40px;
      width: 40px;

      background: $blueSky;
      border-radius: 100%;

      &:hover {
        .no-touch & {
          //.no-touch .mcam-card-product__bottom-download:hover ~ .mcam-block-tooltip
          & ~ .mcam-block-tooltip {
            opacity: 1;
          }
        }
      }
    }
  }

  //.mcam-card-product .icon-waves4
  .icon-waves4 {
    height: 35px;
    width: 35px;

    fill: $blueDark;
  }

  //.mcam-card-product .icon-download
  .icon-download {
    height: 18px;
    width: 18px;

    fill: $white;
  }

  //.mcam-card-product .mcam-block-tooltip
  .mcam-block-tooltip {
    position: absolute;
    margin: 0;

    bottom: -12%;
    right: -60%;
    width: 186px;
    
    opacity: 0;
    
    transition: opacity .3s;
    transform: translateX(-50%);
  }
}