<div class="popup">
  <p class="popup__title mcam-headline-2">Enter your email address to get access to our exclusive client stories</p>
  <form class="section-newsletter__form">
    <div class="section-contact__fieldsets">
      <fieldset class="mcam-fieldset mcam-fieldset--cta">
        <input type="email" value="" name="EMAIL" class="mcam-fieldset__input email" id="mce-EMAIL" placeholder="" required>
        <label class="mcam-fieldset__label" for="mce-EMAIL">
          <span class="mcam-fieldset__label-content">Enter your email</span>
        </label>
        <div class="mcam-cta clear">
          <input type="submit" value="See client story" name="subscribe" class="mcam-cta__link button">
        </div>
      </fieldset>
    </div>
  </form>
</div>