<footer class="mcam-layout-footer">
  <div class="mcam-layout-footer__columns">
    <div class="mcam-layout-footer__inner">
      <div class="mcam-layout-footer__column">
        <a href="/" class="mcam-layout-footer__logo">
          <img data-src="/img/logo_mcam.svg" class="lazy" alt="Logo MCAM" />
        </a>
        <p>Mitsubishi Chemical Advanced Materials delivers product and application solutions to all leading industries around the
        world.</p>
        <a href="https://mcam.com/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers">Visit mcam.com</a>
      </div>
      <div class="mcam-layout-footer__column">
        <p class="mcam-layout-footer__title">Our industries</p>
        <ul>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/chemical-processing-oil-gas/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Oil & Gas / CPI</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/aerospace-defense/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Aerospace & Defense</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/renewable-energy/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Renewable Energy</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/architectural/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Architectural</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/automotive/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Automotive</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/building-construction/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Building & Construction</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/food-beverage/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Food & Beverage</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/heavy-equipment/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Heavy Equipment</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/industrial-equipment/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Industrial Equipment</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/medical-life-science/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Medical & Life Science</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/semiconductor-electronics/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Semiconductor & Electronics</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/sports-leisure/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Sports & Leisure</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/transportation/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers" target="_new">Transportation</a></li>
        </ul>
      </div>
      <div class="mcam-layout-footer__column">
        <p class="mcam-layout-footer__title">Contact us</p>
        <a href="/contact.html" class="mcam-cta-icon">
          <svg class="icon icon-mail">
            <use xlink:href="/symbol-defs.svg#icon-mail"></use>
          </svg>
          <span class="mcam-cta-icon__link">Reach out to one of our Oil<br>& Gas experts</span>
        </a>
      </div>
    </div>
  </div>
  <div class="mcam-layout-footer__copyright">
    <img src="/img/KVTG_logo.png" class="lazy" alt="KVTG">
    <div class="mcam-layout-footer__inner">
      <ul>
        <li class="mcam-layout-footer__item"><a href="/terms-of-use.html">Terms of Use</a></li>
        <li class="mcam-layout-footer__item"><a href="/privacy-notice.html">Privacy Notice</a></li>
      </ul>
      <p>MCAM® 2019 - All rights reserved</p>
    </div>
  </div>
</footer>

<script>var tarteaucitronForceLanguage = 'en';</script>
<script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>