<div class="getintouch">
  <p class="mcam-button">Get in touch</p>
  <p class="getintouch__title mcam-headline-3">We solve the most complex technical challenges in Oil & Gas</p>
  <a href="/contact.html" class="mcam-cta">
    <span class="mcam-cta__link">LET US SOLVE YOURS</span>
  </a>
</div>