<div class="section section--whitepaper">
  <div class="mcam-layout-section__inner">
    <div class="section-whitepaper">
      <div class="whitepaper">
        <div class="whitepaper__left">
          <p class="mcam-button">What you’ll learn</p>
          <ul class="mcam-body-tick">
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Impact of different manufacturing processes on resins mechanical properties
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Why one polymer manufacturing method is used vs another
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              How to avoid critical component failure
            </li>
          </ul>
        </div>
        <div class="whitepaper__middle">
          <picture class="whitepaper__picture">
            <source data-srcset="/img/whitepaper-mobile.png" media="(max-width: 767px)">
            <img data-src="/img/whitepaper-desktop.png" class="lazy" alt="white paper" />
          </picture>
        </div>
        <div class="whitepaper__right">
          <p class="whitepaper__title mcam-headline-2">Effects of Processing Methods on Thermoplastics</p>
          <p class="whitepaper__text mcam-body-text">
            This paper focuses on how the processing of thermoplastics impacts physical properties, theories behind the
            differences,
            and the availability of various materials for use in prototypes or production.
          </p>
          <a href="/white-paper.html" class="whitepaper__cta mcam-cta">
            <span class="mcam-cta__link">Download the white paper</span>
          </a>
          <p class="mcam-button">.PDF 1,7Mo</p>
        </div>
      </div>
    </div>
  </div>
</div>