@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LeanO FY';
    src: url('../fonts/LeanOFY-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanOSans FY';
    src: url('../fonts/LeanOSansFY-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanOSans FY';
    src: url('../fonts/LeanOSansFY-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanOSans FY';
    src: url('../fonts/LeanOSansFY-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanOSans FY';
    src: url('../fonts/LeanOSansFY-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeanOSans FY';
    src: url('../fonts/LeanOSansFY-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

