.mcam-block-author {
  //.mcam-block-author__photo
  &__photo {
    display: block;
    float: left;

    margin-right: 15px;

    width: 48px;
    height: 48px;

    overflow: hidden;
    border-radius: 100%;

    //.mcam-block-author__photo img
    img {
      margin: 0 !important;
      height: 100%;
      width: 100%;
      max-width: none;
      object-fit: cover;

      .ie & {
        height: auto;
      }
    }
  }

  //.mcam-block-author__name
  &__name {
    display: block;

    color: $greyDark;
    font-size: rem(15px);
    line-height: rem(20px);
    font-weight: bold;
  }

  //.mcam-block-author__job
  &__job {
    display: block;
    width: 200px;
    // width: 100%;

    color: $grey;
    font-size: rem(14px);
    line-height: rem(19px);
  }

  //.mcam-block-author__description
  &__description {
    margin-top: 20px;

    color: $greyLight;
    clear: left;
  }
}