.breadcrumb {
  margin: 25px 0;
  
  //.breadcrumb__inner
  &__inner {
    display: flex;

    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
  }

  //.breadcrumb__icon
  &__icon {
    width: 15px;
    height: 15px;

    margin: 0 5px;

    fill: $grey;
    transform: rotate(-90deg);
  }

  //.breadcrumb__item
  &__item {
    color: $grey;
    font-weight: 600;
    font-size: rem(12px);
    line-height: rem(16px);

    //.breadcrumb__item.current
    &.current {
      font-weight: bold;
    }
  }
}