.mcam-block-certif {
  padding: 25px 0;

  background: $blueDark;

  text-align: left;
  
  //.mcam-block-certif__logos
  &__logos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 20px;

    @media #{$desktop-up} {
      margin-top: 0;
    }
  }

  //.mcam-block-certif__column
  &__column {
    @media #{$desktop-up} {
      display: inline-block;
      vertical-align: middle;
    }
    
    //.mcam-block-certif__column--left
    &--left {
      @media #{$desktop-up} {
        width: 53%;
        margin-right: 5%;
      }
    }
    
    //.mcam-block-certif__column--right
    &--right {
      @media #{$desktop-up} {
        width: 41%;
      }

      //.mcam-block-certif__column--right .mcam-block-certif__text
      .mcam-block-certif__text {
        font-size: rem(12px);
        line-height: rem(19px);
      }
    }
  }

  //.mcam-block-certif__text
  &__text {
    padding: 0 10px;

    color: $white;
    font-size: rem(24px);
    line-height: rem(40px);
  }
}