.mcam-block-engineered {
  position: relative;
  margin-top: 35px;
  margin-bottom: 45px;

  overflow: hidden;

  @media #{$desktop-up} {
    margin-top: 25px;
    margin-bottom: 75px;
  }

  &__content {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    
    &::-webkit-scrollbar-track, 
    &::-webkit-scrollbar-thumb, 
    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  //.mcam-block-engineered__list
  &__list {
    white-space: nowrap;
    
  }

  //.mcam-block-engineered__item
  &__item {
    position: relative;
    display: inline-block;

    width: 255px;
    margin-right: 8px;
    
    @media #{$desktop-up} {
      width: 354px;
      margin-right: 25px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  //.mcam-block-engineered__picture
  &__picture {
    position: relative;
    display: block;

    overflow: hidden;

    //.mcam-block-engineered__picture:after
    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(110.32deg, rgba(12, 55, 98, 0.8) -1.77%, rgba(12, 55, 98, 0.4) 41.64%, rgba(216, 0, 0, 0.08) 96.46%), linear-gradient(0deg, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3))
    }

    //.mcam-block-engineered__picture img
    img {
      height: 165px;
      max-width: none;
    }
  }

  //.mcam-block-engineered__title
  &__title {
    position: absolute;
    left: 8px; right: 8px;
    bottom: 8px;

    font-size: rem(18px);
    font-weight: bold;
    line-height: rem(27px);
    color: $white;

    white-space: normal;
    z-index: 1;
  }

  //.mcam-block-engineered__arrow
  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    transform: translateY(-50%);

    width: 42px;
    height: 42px;

    background: $blueSky;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    cursor: pointer;

    z-index: 1;

    @media #{$phone-only} {
      display: none;
    }

    //.mcam-block-engineered__arrow .icon
    .icon {
      width: 24px;
      height: 24px;
      fill: $white;
    }
    
    //.mcam-block-engineered__arrow--right
    &--right {
      right: 10px;

      //.mcam-block-engineered__arrow--right .icon
      .icon {
        transform: rotate(-90deg);
      }
    }

    //.mcam-block-engineered__arrow--left
    &--left {
      left: 10px;

      //.mcam-block-engineered__arrow--left .icon
      .icon {
        transform: rotate(90deg);
      }
    }
    
    //.mcam-block-engineered__arrow.hidden
    &.hidden {
      display: none;
    }
  }
}