.mcam-block-textoverlay { 
  position: relative;

  font-size: rem(35px);
  line-height: rem(40px);
  font-weight: 800;
  text-align: center;

  background-image: url("../img/f1b4205330da7743d974ec20b5d8cf40.png");
  background-attachment: fixed;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  @media #{$desktop-up} {
    font-size: rem(50px);
    line-height: rem(55px);
  }

  .ie & {
    background: none;
  }
}