.mcam-block-whitepaper {
  @media #{$tablet-up} {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    margin: 0 auto;

    box-shadow: 0px 10px 20px rgba($black, 0.1);
  }

  &__left {
    @media #{$tablet-up} {
      width: 43%;
      padding-left: 13%;
    }
  }

  &__right {
    @media #{$tablet-up} {
      width: 57%;
    }
  }

  &__title {
    margin: 30px 0;

    @media #{$tablet-up} {
      margin: 0 0 12px;
    }
  }

  &__cta {
    display: block;

    width: 220px;
    margin-top: 25px;
  }
}