

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ENTER STYLESHEETS HERE -->
    <title>Blockquote: Default | ARNEO UI Component Library</title>
    <link media="all" rel="stylesheet" href="../../css/app.css">
</head>
<body class="js no-touch preview">

    <blockquote cite="http://example.com/">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
</blockquote>

    <!-- ENTER SCRIPTS HERE -->
    <script src="../../js/app.js"></script>
</body>
</html>

