

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ENTER STYLESHEETS HERE -->
    <title>Paragraph: Default | ARNEO UI Component Library</title>
    <link media="all" rel="stylesheet" href="../../css/app.css">
</head>
<body class="js no-touch preview">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <!-- ENTER SCRIPTS HERE -->
    <script src="../../js/app.js"></script>
</body>
</html>

