

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ENTER STYLESHEETS HERE -->
    <title>Select: Default | ARNEO UI Component Library</title>
    <link media="all" rel="stylesheet" href="../../css/app.css">
</head>
<body class="js no-touch preview">

    <label for="select">Select Input</label>
<select name="select">
    <option value="LoremIpsum1">Lorem ipsum dolor sit amet 1</option>
    <option value="LoremIpsum2">Lorem ipsum dolor sit amet 2</option>
    <option value="LoremIpsum3">Lorem ipsum dolor sit amet 3</option>
    <option value="LoremIpsum4">Lorem ipsum dolor sit amet 4</option>
</select>

    <!-- ENTER SCRIPTS HERE -->
    <script src="../../js/app.js"></script>
</body>
</html>

