@font-face {
  font-family: 'Palatino Sans Arabic';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/PalatinoSansArabic-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Palatino Sans Arabic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PalatinoSansArabic-Regular.woff2') format('woff2');
  font-display: swap;
}

