@font-face {
  font-family: 'Palatino Sans Arabic';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/PalatinoSansArabic-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Palatino Sans Arabic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PalatinoSansArabic-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/DINNextLTArabic-Black.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/DINNextLTArabic-Heavy.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/DINNextLTArabic-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/DINNextLTArabic-Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/DINNextLTArabic-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DINNextLTArabic-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'DIN Next LT Arabic Ultra';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/DINNextLTArabic-UltraLight.woff2') format('woff2');
  font-display: swap;
}
