video {
  position: fixed;
  width: 100%;
  height: 100%;
}

.zone__item {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 255px;
  height: 40px;

  &[data-zone="1"] {
    top: 25%;
    left: 2%;
    width: 401px;
    height: 713px;

    .zone__itemTitle {
      left: -10px;
    }
  }

  &[data-zone="2"] {
    top: 45%;
    left: 29%;
    width: 395px;
    height: 555px;

    .zone__itemTitle {
      top: 7px;
    }
  }

  &[data-zone="3"] {
    top: 55%;
    left: 53%;
    width: 330px;
    height: 320px;

    .zone__itemTitle {
      top: 15px;
    }
  }

  &[data-zone="4"] {
    top: 49%;
    left: 72%;
    width: 490px;
    height: 485px;

    .zone__itemTitle {
      top: 5px;
      left: -20px;
    }
  }

  &[data-zone="5"] {
    top: 7%;
    left: 35%;
    width: 360px;
    height: 240px;

    .zone__itemTitle {
      top: -15px;
      left: -15px;
    }
  }

  &[data-zone="6"] {
    top: 12%;
    right: 6%;
    width: 640px;
    height: 335px;

    .zone__itemTitle {
      top: -10px;
      left: -82px;
    }
  }
}

.zone__itemTitle {
  position: relative;
  margin: 30px auto;
  font-family: $font;
  font-size: 24px;
  font-weight: 400;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    content: "";
  }

  &::before {
    top: -7px;
  }

  &::after {
    bottom: -6px;
  }
}
