// COLORS

$blueSky: #2b73ba;
$blueDark: #0C3762;
$red: #E60012;

$greyLighter: #bdbdbd;
$greyLight: #828282;;
$grey: #585858;
$greyDark: #404040;

$gradient: linear-gradient(99.79deg, #0C3762 -1.77%, rgba(12, 55, 98, 0.5) 41.64%, rgba(216, 0, 0, 0.2) 96.46%);
$gradientReverse: linear-gradient(117.39deg, #0C3762 -1.77%, rgba(12, 55, 98, 0.5) 41.64%, rgba(216, 0, 0, 0.2) 96.46%);;
$sunset: linear-gradient(108.38deg, #FCC2C2 -1.77%, #BDDEFF 96.46%);

$white: #ffffff;
$black: #000000;



// FONTS

$font: 'OpenSans', Helvetica, sans-serif;



// BREAKPOINTS

$bp-mobile: '767px';
$bp-tablet: '768px';
$bp-desktop-down: '1023px';
$bp-desktop: '1024px';
$bp-big-desktop: '1440px';



// MEDIA QUERIES

$phone-only: '(max-width: #{$bp-mobile})';          // @media #{$phone-only}
$tablet-up: '(min-width: #{$bp-tablet})';           // @media #{$tablet-up}
$desktop-down: '(max-width: #{$bp-desktop-down})';   // @media #{$desktop-down}
$desktop-up: '(min-width: #{$bp-desktop})';         // @media #{$desktop-up}
$big-desktop-up: '(min-width: #{$bp-big-desktop})'; // @media #{$big-desktop-up}

$header-height-mobile: 87px;
$header-height-tablet: 116px;
