.mcam-layout-header {
  position: fixed;
  top: 0;
  width: 100%;

  background: $white;

  z-index: 99;

  //.mcam-layout-header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    height: $header-height-mobile;
    max-width: 1150px;

    @media #{$tablet-up} {
      height: $header-height-tablet;
    }
  }

  //.mcam-layout-header__logo
  &__logo {
    padding: 0 20px;

    //.mcam-layout-header__logo img
    img {
      width: 259px;
      height: 50px;
    }
  }

  //.mcam-layout-header__item
  &__item {
    color: $grey;
    font-size: rem(13px);
    line-height: rem(12px);

    @media #{$tablet-up} {
      margin: 0 18px;

      font-size: rem(15px);
      line-height: rem(20px);
    }

    //.mcam-layout-header__item.active
    &.active {
      font-weight: bold;
    }
  }

  //.mcam-layout-header__nav
  &__nav {
    @media #{$phone-only} {
      position: fixed;
      display: flex;
      align-items: center;
      
      bottom: 0;
      width: 100%;

      background: rgba(248, 248, 248, 0.92);
      backdrop-filter: blur(27px);
      border-top: 1px solid rgba($greyLighter, 0.5);

      //.mcam-layout-header__nav a
      a {
        padding: 0 5px;
        width: 25%;

        text-align: center;
      }

      //.mcam-layout-header__nav .mcam-cta__link
      .mcam-cta__link {
        height: 55px;
        padding: 22px 0;
        
        font-size: rem(11px);
        line-height: rem(12px);
      }
    }

    @media #{$tablet-up} {
      padding: 0 20px;
    }
  }
}