{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--application mcam-page--application3">

  {{#> partials/header}}{{/partials/header}}

  Coucou

  {{#> partials/footer}}{{/partials/footer}}

</body>

</html>