.section-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
  padding-bottom: 20px;

  &__title {
    margin-bottom: 20px;
    
    color: $white;
  }

  .mcam-card-product {
    margin-bottom: 40px;

    @media #{$tablet-up} {
      margin: 0 1% 50px;
      width: 31%;
    }

    @media #{$desktop-up} {
      width: 23%;
    }
  }
}