.section-applications {
  text-align: center;
  
  //.section-applications__title
  &__title {
    margin-bottom: 25px;
  }

  //.section-applications .card-application
  .card-application {
    display: inline-block;
    vertical-align: top; 

    margin: 15px 0;

    @media #{$tablet-up} {
      margin: 15px 8px;
    }
  }
}