.section-article {
  //.section-article__head
  &__head {
    margin-bottom: 10px;

    text-align: center;

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__title {
    margin-bottom: 10px;

    @media #{$desktop-up} {
      margin-bottom: 30px;
    }
  }

  &__author {
    display: inline-block;

    text-align: left;
  }

  .mcam-block-author__description {
    font-size: rem(18px);
    line-height: rem(30px);
    text-align: center;
  }

  &__captions {
    display: flex;
    flex-wrap: wrap;

    margin: 30px -1%;

    @media #{$desktop-up} {
      margin: 50px -1%;
    }

    .mcam-card-image {
      width: 48%;
      margin: 25px 1%;

      overflow: hidden;

      @media #{$desktop-up} {
        width: 31%;
      }
    }
  }

  &__content {
    ul {
      margin-top: 20px;
      padding-left: 20px;

      @media #{$desktop-up} {
        padding-left: 50px;
      }

      li {
        @extend .mcam-body-text;
        list-style: disc;
      }
    }

    img {
      margin: 50px auto;
    }

    &-hidden {
      // background: rgba($white, 0.6);
      // filter: blur(7px);
    }
  }

  &__content-title {
    margin: 50px 0 20px;
  }

  //.section-article__table
  &__table {
    margin-bottom: 30px;

    span {
      font-size: rem(12px);
      line-height: rem(20px);
      color: $grey;
      font-style: italic;
    }

    p {
      margin-bottom: 10px;

      font-size: rem(12px);
      line-height: rem(20px);
      color: $grey;
    }

    strong {
      font-weight: 600;
    }

    &-legend {
      margin-top: 10px;
    }

    &-title {
      border-bottom: 1px solid $greyLight;
      margin-bottom: 10px;
    }
  }
}