.section-contact {
  padding: 80px 0 40px;

  background: #F2F2F2;
  text-align: center;

  a {
    text-decoration: underline;
  }

  iframe {
    height: 1400px !important;

    @media #{$tablet-up} {
      height: 845px !important;

      .ie & {
        height: 1300px !important;
      }
    }
  }
  
  //.section-contact__fieldsets
  &__fieldsets {
    margin-top: 40px;

    text-align: left;

    @media #{$tablet-up} {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  //.section-contact .mcam-fieldset
  .mcam-fieldset {
    @media #{$tablet-up} {
      width: 48%;
    }

    //.section-contact .mcam-fieldset select
    select {
      margin-bottom: 20px;

      background: $white;
    }

    //.section-contact .mcam-fieldset--full
    &--full {
      width: 100%;
    }

    //.section-contact .mcam-fieldset--textarea
    &--textarea {
      height: 250px;
      
      @media #{$tablet-up} {
        height: 245px;
      }

      //.section-contact .mcam-fieldset--textarea input
      textarea {
        padding: 15px;
        height: 100%;
      }
    }
  }

  //.section-contact__marketing
  &__marketing {
    margin: 20px 0;

    color: $greyLight;
    font-size: rem(14px);
    line-height: rem(20px);
    text-align: left;
  }
}