.section-homefilters {
  padding: 0 15px;

  @media #{$desktop-up} {
    display: flex;
    justify-content: center;
  }

  //.section-homefilters .mcam-card-filter
  .mcam-card-filter {
    margin: 15px 0;
  }
}