.section-newsletter {
  padding: 45px 0;

  background: $greyLighter;
  text-align: center;

  //.section-newsletter .mcam-layout-section__inner
  .mcam-layout-section__inner {
    max-width: 780px;
  }

  //.section-newsletter__icons
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 40px;
    max-width: 615px;
  }

  &__icon {
    width: 50%;
    margin: 20px 0;
    
    @media #{$desktop-up} {
      width: 25%;
      margin: 0;
    }

    .icon {
      height: 18px;
      width: 18px;
      fill: $blueSky;
    }
  }

  //.section-newsletter form
  form {
    max-width: 450px;
    margin: 10px auto 0;

    text-align: left;

    @media #{$desktop-up} {
      margin: 35px auto 0;
    }
  }
}
