.section-solutions-big {
  text-align: center;

  @media #{$tablet-up} {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -1%;
  }
  
  //.section-solutions__title
  &__title {
    margin-bottom: 25px;
  }

  //.section-solutions .card-solution
  .card-solution-big {
    margin: 15px auto;

    @media #{$tablet-up} {
      width: 48%;
      margin: 15px 1%;
    }
  }

  .mcam-cta {
    margin-top: 30px;
  }
}