.mcam-page--404 {
  .mcam-section-404 {
    position: relative;
    text-align: center;

    height: 366px;

    overflow: hidden;

    @media #{$tablet-up} {
      height: 566px;
    }

    &__content {
      position: absolute;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);

      width: 85%;

      z-index: 1;

      @media #{$tablet-up} {
        top: 118px;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      min-height: 100%;
      max-width: none;
      left: 50%;
      transform: translateX(-50%);
    }

    &__title {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      color: rgba($white, 0.25);
      font-size: rem(200px);
      line-height: rem(155px);
      font-weight: 800;
      text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);

      @media #{$tablet-up} {
        font-size: rem(400px);
        line-height: rem(310px);
      }
    }

    &__text {
      margin: 15px 0;

      color: $blueSky;
      font-size: rem(14px);
      line-height: rem(19px);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}