.page--applications {
  //.page--applications .section--intro
  .section--intro {
    margin-top: 110px;
  }

  //.page--applications .section--applications
  .section--applications {
    margin-top: 60px;
  }

  //.page--applications .section-newsletter
  .section-newsletter {
    background: $white;
  }
}

.page--application {
  .section--products {
    margin-top: 70px;
    padding: 20px;

    background: linear-gradient(110.07deg, rgba(255, 255, 255, 0.2) -2.47%, rgba(255, 255, 255, 0) 98.96%), #0C3762;

    @media #{$tablet-up} {
      padding: 50px;
    }
  }

  .section-products {
    display: block;
  }

  .mcam-card-product {
    display: inline-block;
    vertical-align: top;

    margin-bottom: 20px;
    
    box-shadow: 0px 10px 40px rgba(7, 35, 64, 0.8);
    
    @media #{$tablet-up} {
      width: 35%;

      margin-bottom: 0;
    }
  }

  &1 {
    .card-application:nth-of-type(1) {
      display: none;
    }
  }
}