.page--applications {
  //.page--applications .section--intro
  .section--intro {
    margin-top: 110px;
  }

  //.page--applications .section--applications
  .section--applications {
    margin-top: 60px;
  }

  //.page--applications .section-newsletter
  .section-newsletter {
    background: $white;
  }
}