.page--application {
  .section--intro {
    margin-top: 50px;
  }

  .section-article__head {
    text-align: left;
  }

  .what-side {
    @media #{$desktop-down} {
      margin-top: 45px;
    }

    @media #{$desktop-up} {
      position: sticky;
      top: 120px;
      left: 100%;
    }
  }

  .section--content {
    margin-top: 45px;

    .mcam-layout-section__inner {
      display: flex;
      flex-wrap: wrap;
    }

    .section-article__content {
      //.page--solution .section--content .section-article__content img
      img {
        margin-top: 0;
      }

      //.page--solution .section--content .section-article__content--left
      &--left {
        @media #{$desktop-up} {
          width: 57%;
          margin-right: 2%;
        }
      }

      //.page--solution .section--content .section-article__content--right
      &--right {
        @media #{$desktop-up} {
          width: 41%;
        }
      }
    }
  }
  
  .section--products {
    margin-top: 70px;
    padding: 20px;

    background: linear-gradient(110.07deg, rgba(255, 255, 255, 0.2) -2.47%, rgba(255, 255, 255, 0) 98.96%), #0C3762;

    @media #{$tablet-up} {
      padding: 50px;
    }
  }

  .section-products {
    display: block;

    margin: 0 -2%;

    text-align: center;
  }

  .mcam-card-product {
    display: inline-block;
    vertical-align: top;

    margin-bottom: 20px;
    
    box-shadow: 0px 10px 40px rgba(7, 35, 64, 0.8);
    text-align: left;
    
    @media #{$tablet-up} {
      width: 23%;

      margin-bottom: 0;
    }
  }

  &1 {
    .card-application:nth-of-type(1) {
      display: none;
    }
  }

  &2 {
    .card-application:nth-of-type(2) {
      display: none;
    }
  }

  &3 {
    .card-application:nth-of-type(3) {
      display: none;
    }
  }
}