.mcam-page--article {
  .mcam-layout-section {
    &--intro {
      margin: 50px 0;

      @media #{$tablet-up} {
        margin: 85px 0 30px;
      }
    }
    
    &--image {
      @media #{$tablet-up} {
        margin-bottom: 40px;
      }
      
      img {
        margin: 0 auto;
      }
    }
  }

  .mcam-section-article__articles {
    margin-top: 25px;

    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

    @media #{$tablet-up} {
      display: flex;
      flex-wrap: wrap;
      margin: 20px -2%;

      white-space: normal;
      overflow-x: hidden;
    }
  }

  //.mcam-page--article .mcam-card-news
  .mcam-card-news {
    display: inline-block;
    vertical-align: top;

    margin-right: 20px;

    @media #{$tablet-up} {
      margin: 0 2%;
      width: 46%;
    }

    //.mcam-section-news .mcam-card-news__content-title
    &__content-title {
      white-space: normal;
    }
  }

  //.mcam-page--article .mcam-cta-icon--back
  .mcam-cta-icon--back {
    margin: 25px 0;

    @media #{$tablet-up} {
      margin: 70px 0;
    }

    .icon {
      transform: rotate(90deg);
    }
  }
}

.mcam-page--article1 {
  .mcam-layout-section--articles {
    .mcam-card-news:first-of-type {
      display: none;
    }
  }
}

.mcam-page--article2 {
  .mcam-layout-section--articles {
    .mcam-card-news:nth-of-type(2) {
      display: none;
    }
  }
}

.mcam-page--article3 {
  .mcam-layout-section--articles {
    .mcam-card-news:nth-of-type(3) {
      display: none;
    }
  }
}