.mcam-page--home {

  .section--applications {
    margin: 60px 0;
  }

  .section--solutions {
    padding: 50px 0;
    
    background: #F2F2F2;
  }

  .mcam-block-whitepaper {
    position: fixed;
    display: flex;
    align-items: center;
    
    width: 100%;
    max-width: 500px;
    right: 0;
    bottom: 55px;

    box-shadow: 0px 4px 20px rgba($blueDark, 0.25);
    
    transition: all 0.3s;
    z-index: 3;

    &.hidden {
      right: -25px;
      transform: translateX(100%) !important;
    }

    @media #{$tablet-up} {
      bottom: 20%;
    }

    &__left {
      width: 100px;
      padding-left: 10px;

      @media #{$tablet-up} {
        margin: -10px 0 -10px -25px;
        padding-left: 0;
      }
    }

    //.mcam-block-whitepaper__right
    &__right {
      width: calc(100% - 120px);
      padding: 13px 20px;

      @media #{$tablet-up} {
        width: calc(100% - 100px);
      }
    }

    &__title {
      margin: 10px 0;

      font-size: rem(14px);
      line-height: rem(20px);

      @media #{$tablet-up} {
        font-size: rem(16px);
        line-height: rem(22px);
      }
    }
  }
}