.mcam-page--home {
  .mcam-layout-section {
    //.mcam-page--home .mcam-layout-section--slider
    &--slider {
      @media #{$desktop-up} {
        margin: 37px 0 155px;
      }
    }

    //.mcam-page--home .mcam-layout-section--textoverlay
    &--textoverlay {
      margin: 60px 0;
    } 

    &--filters {
      //.mcam-page--home .mcam-layout-section--filters .mcam-section-homefilters
      .mcam-section-homefilters {
        margin: 27px 0;  
      }

      //.mcam-page--home .mcam-layout-section--filters .mcam-cta
      .mcam-cta {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    //.mcam-page--home .mcam-layout-section--certif
    &--certif { 
      margin: 85px 0;
    }

    //.mcam-page--home .mcam-layout-section--whitepaper
    &--whitepaper {
      padding: 40px 0;

      background: #F2F2F2;

      @media #{$tablet-up} {
        padding: 75px 0;
      }
    }

    &--map {
      //.mcam-page--home .mcam-layout-section--map .mcam-section-map
      .mcam-section-map {
        padding: 100px 0 35px;
      }
    }

    //.mcam-page--home .mcam-layout-section--news
    &--news {
      margin: 40px 0;

      @media #{$desktop-up} {
        margin: 150px 0;
      }
    }

    //.mcam-page--home .mcam-layout-section--kaiteki
    &--kaiteki {
      padding: 50px 0;

      text-align: center;

      @media #{$tablet-up} {
        padding: 80px 0;
      }

      //.mcam-page--home .mcam-layout-section--kaiteki .mcam-layout-section__inner
      .mcam-layout-section__inner {
        max-width: 800px;
      }

      //.mcam-page--home .mcam-layout-section--kaiteki img
      img {
        margin: 0 auto 30px;
        max-height: 30px;
      }
    }
  }
}