.mcam-page--solutions {
  .mcam-layout-section {
    //.mcam-page--solutions .mcam-layout-section--intro
    &--intro {
      margin: 40px 0;

      @media #{$desktop-up} {
        margin: 110px 0 50px;
      }
    }

    &--solutions {
      margin-bottom: 130px;
    }
  }

  //.page--solutions .section--whitepaper
  .section--whitepaper {
    margin-top: 115px;

    background: $greyLighter;
  }

  //.page--solutions .section-newsletter
  .section-newsletter {
    background: $white;
  }
}