.mcam-page--stories {
  .mcam-layout-section {
    //.mcam-page--stories .mcam-layout-section--intro
    &--intro {
      margin: 40px 0;

      @media #{$desktop-up} {
        margin: 110px 0 50px;
      }
    }

    //.mcam-page--stories .mcam-layout-section .section-newsbig
    .section-newsbig {
      margin: 50px 0;
    }
  }
}