.mcam-page--story {
  .mcam-layout-section {
    &--intro {
      margin: 50px 0;

      @media #{$tablet-up} {
        margin: 85px 0 30px;
      }
    }
    
    &--image {
      @media #{$tablet-up} {
        margin-bottom: 40px;
      }
      
      img {
        margin: 0 auto;
      }
    }
    
    &--content {
      //.mcam-page--story .mcam-layout-section--content .mcam-layout-section__inner
      .mcam-layout-section__inner {
        position: relative;

        @media #{$desktop-up} {
          display: flex;
        }
      }

      //.mcam-page--story .mcam-layout-section--content .section-article__content:first-of-type
      .section-article__content:nth-of-type(1) {
        @media #{$desktop-up} {
          max-width: calc(83% - 166px);
          margin-left: auto;
          padding-right: 2%;

          .ie & {
            width: calc(83% - 166px);
          }
        }
      }
    }

    //.mcam-page--story .mcam-layout-section--stories
    &--stories {
      margin-top: 95px;
    }

    //.mcam-page--story .mcam-layout-section--author
    &--author {
      @media #{$tablet-up} {
        padding-top: 100px; // not margin - for anchor link
      }

      //.mcam-page--story .mcam-layout-section--author .section-author
      .section-author {
        @media #{$tablet-up} {
          display: flex;
          flex-wrap: wrap;
        }

        //.mcam-page--story .mcam-layout-section--author .section-author__left
        &__left {
          margin-bottom: 60px;
          padding: 16px 15px;

          background: $greyLighter;
          border-radius: 1px;

          @media #{$tablet-up} {
            padding: 35px 15px;
            width: 49%;
          }
        }

        //.mcam-page--story .mcam-layout-section--author .section-author__right
        &__right {
          margin-bottom: 60px;

          @media #{$tablet-up} {
            width: 46%;
            margin-left: 3%;
          }
        }
      }

      .mcam-block-author {
        //.mcam-page--story .mcam-layout-section--author .mcam-block-author .mcam-cta-icon, .mcam-page--story .mcam-layout-section--author .mcam-block-author__description
        &__description,
        .mcam-cta-icon {
          @media #{$tablet-up} {
            padding-left: 63px;
          }
        }

        //.mcam-page--story .mcam-layout-section--author .mcam-block-author__description
        &__description {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  //.mcam-page--story .mcam-card-author
  .mcam-card-author {
    @media #{$desktop-down} {
      display: none;
    }

    @media #{$desktop-up} {
      position: sticky;
      margin-top: 65px;
      top: 150px;
      left: 100%;
    }
  }

  .section-article__stories {
    margin-top: 25px;

    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

    @media #{$tablet-up} {
      display: flex;
      flex-wrap: wrap;
      margin: 20px -2%;

      white-space: normal;
      overflow-x: hidden;
    }
  }

  //.mcam-page--story .mcam-card-news
  .mcam-card-news {
    display: inline-block;
    vertical-align: top;

    margin-right: 20px;

    @media #{$tablet-up} {
      margin: 0 2%;
      width: 46%;
    }

    //.mcam-page--story .mcam-card-news__content-title
    &__content-title {
      display: block;
      white-space: normal;
      width: 100%;
    }
  }

  //.mcam-page--story .mcam-cta-icon--back
  .mcam-cta-icon--back {
    margin: 25px 0;

    @media #{$tablet-up} {
      margin: 70px 0;
    }

    .icon {
      transform: rotate(90deg);
    }
  }
}

.mcam-page--story1 {
  .mcam-layout-section--stories {
    .mcam-card-news:first-of-type {
      display: none;
    }
  }
}

.mcam-page--story2 {
  .mcam-layout-section--stories {
    .mcam-card-news:nth-of-type(2) {
      display: none;
    }
  }
}

.mcam-page--story3 {
  .mcam-layout-section--stories {
    .mcam-card-news:nth-of-type(3) {
      display: none;
    }
  }
}