.mcam-page--whitepaper {
  //.mcam-page--whitepaper .section--intro
  .section--intro {
    margin: 35px 0;

    //.mcam-page--whitepaper .section--intro .mcam-headline-1
    .mcam-headline-1 {
      margin-bottom: 25px;
    }
  }

  //.mcam-page--whitepaper .whitepaper
  .whitepaper {
    margin-top: 30px;

    @media #{$desktop-up} {
      margin-top: 80px;
    }

    //.mcam-page--whitepaper .whitepaper__left
    &__left {
      width: 44%;
    }

    //.mcam-page--whitepaper .whitepaper__right
    &__right {
      width: 56%;
      padding-top: 4%;
      padding-left: 4%;
    }

    img {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
  }

  //.mcam-page--whitepaper .whitepaper-form
  .whitepaper-form {
    margin-top: 30px;

    @media #{$desktop-up} {
      width: 79%;
      margin-top: 0;
      margin-left: 4%;
    }
  }

  //.mcam-page--whitepaper .section--keynumbers
  .section--keynumbers {
    padding: 30px 0 0;

    background: $greyLighter;

    @media #{$desktop-up} {
      padding: 55px 0 20px;
    }
  }

  //.mcam-page--whitepaper .section-newsletter
  .section-newsletter {
    background: $white;
  }
}