// HEADLINES
.mcam-headline-1 {
  font-weight: bold;
  font-size: rem(25px);
  line-height: rem(34px);

  @media #{$desktop-up} {
    font-size: rem(40px);
    line-height: rem(54px);
  }
}

.mcam-headline-2 {
  font-size: rem(22px);
  line-height: rem(30px);
  font-weight: 600;

  @media #{$desktop-up} {
    font-size: rem(30px);
    line-height: rem(41px);
  }
}

.mcam-headline-3 {
  font-size: rem(20px);
  line-height: rem(30px);
  font-weight: 600;

  @media #{$desktop-up} {
    font-size: rem(24px);
  }
}

// BODY
.mcam-body-text {
  color: $grey;
  
  font-size: rem(18px);
  line-height: rem(30px);
  font-weight: normal;
}

// CONTENT
.mcam-quote {
  font-size: rem(45px);
  line-height: 145%;
  font-weight: 600;
}

.mcam-button {
  color: $grey;
  font-size: rem(12px);
  line-height: rem(16px);
  font-weight: bold;
  text-transform: uppercase;
}

.mcam-key {
  display: inline-block;

  font-size: rem(48px);
  line-height: rem(53px);
  font-weight: 800;

  background: $sunset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  .ie & {
    color: $white;
    background: none;
  }
}

figcaption {
  margin-top: 12px;

  color: $greyLight;
  font-size: rem(12px);
  line-height: rem(18px);
  font-weight: 600;
  font-style: italic;
}