<footer class="mcam-layout-footer">
  <div class="mcam-layout-footer__columns">
    <div class="mcam-layout-footer__inner">
      <div class="mcam-layout-footer__column">
        <a href="/" class="mcam-layout-footer__logo">
          <img data-src="/img/logo_mcam.svg" class="lazy" alt="Logo MCAM" />
        </a>
        <p>Mitsubishi Chemical Advanced Materials delivers product and application solutions to all leading industries around the
        world.</p>
        <a href="https://mcam.com/?utm_source=Microsite&utm_medium=Links&utm_campaign=Oil-and-gas-polymers">Visit mcam.com</a>
      </div>
      <div class="mcam-layout-footer__column">
        <p class="mcam-layout-footer__title">Our industries</p>
        <ul>
          <li class="mcam-layout-footer__item"><p>Oil & Gas / CPI</<p></li>
          <li class="mcam-layout-footer__item"><p>Aerospace & Defense</p></li>
          <li class="mcam-layout-footer__item"><p>Renewable Energy</p></li>
          <li class="mcam-layout-footer__item"><p>Architectural</p></li>
          <li class="mcam-layout-footer__item"><p>Automotive</p></li>
          <li class="mcam-layout-footer__item"><p>Building & Construction</p></li>
          <li class="mcam-layout-footer__item"><p>Food & Beverage</p></li>
          <li class="mcam-layout-footer__item"><p>Heavy Equipment</p></li>
          <li class="mcam-layout-footer__item"><p>Industrial Equipment</p></li>
          <li class="mcam-layout-footer__item"><p>Medical & Life Science</p></li>
          <li class="mcam-layout-footer__item"><p>Semiconductor & Electronics</p></li>
          <li class="mcam-layout-footer__item"><p>Sports & Leisure</p></li>
          <li class="mcam-layout-footer__item"><p>Transportation</p></li>
        </ul>
      </div>
      <div class="mcam-layout-footer__column">
        <p class="mcam-layout-footer__title">Contact us</p>
        <a href="/contact.html" class="mcam-cta-icon">
          <svg class="icon icon-mail">
            <use xlink:href="/symbol-defs.svg#icon-mail"></use>
          </svg>
          <span class="mcam-cta-icon__link">Reach out to one of our Oil<br>& Gas experts</span>
        </a>
      </div>
    </div>
  </div>
  <div class="mcam-layout-footer__copyright">
    <div class="mcam-layout-footer__inner">
      <ul>
        <li class="mcam-layout-footer__item"><a href="/terms-of-use.html">Terms of Use</a></li>
        <li class="mcam-layout-footer__item"><a href="/privacy-notice.html">Privacy Notice</a></li>
      </ul>
      <p>MCAM® 2019 - All rights reserved</p>
    </div>
  </div>
</footer>

<script>var tarteaucitronForceLanguage = 'en';</script>
<script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>