<footer class="mcam-layout-footer">
  <div class="mcam-layout-footer__columns">
    <div class="mcam-layout-footer__inner">
      <div class="mcam-layout-footer__column">
        <a href="/" class="mcam-layout-footer__logo">
          <img src="/img/logo_mcam.svg" alt="Logo MCAM">
        </a>
        <p>Mitsubishi Chemical Advanced Materials delivers product and application solutions to all leading industries
          around the
          world.</p>
        <a href="https://mcam.com">Visit mcam.com</a>
      </div>
      <div class="mcam-layout-footer__column">
        <p class="mcam-layout-footer__title">Our industries</p>
        <ul>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/chemical-processing-oil-gas/" target="_new">Oil & Gas / CPI</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/aerospace-defense/" target="_new">Aerospace & Defense</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/renewable-energy/" target="_new">Renewable Energy</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/architectural/" target="_new">Architectural</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/automotive/" target="_new">Automotive</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/building-construction/" target="_new">Building & Construction</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/food-beverage/" target="_new">Food & Beverage</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/heavy-equipment/" target="_new">Heavy Equipment</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/industrial-equipment/" target="_new">Industrial Equipment</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/medical-life-science/" target="_new">Medical & Life Science</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/semiconductor-electronics/" target="_new">Semiconductor & Electronics</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/sports-leisure/" target="_new">Sports & Leisure</a></li>
          <li class="mcam-layout-footer__item"><a href="https://www.mcam.com/industries/transportation/" target="_new">Transportation</a></li>
        </ul>
      </div>
      <div class="mcam-layout-footer__column">
        <p class="mcam-layout-footer__title">Contact us</p>
        <a href="/contact.html" class="mcam-cta-icon">
          <svg class="icon icon-mail">
            <use xlink:href="/symbol-defs.svg#icon-mail"></use>
          </svg>
          <span class="mcam-cta-icon__link">Reach out to one of our Oil<br>& Gas experts</span>
        </a>
      </div>
    </div>
  </div>
  <div class="mcam-layout-footer__copyright">
    <div class="mcam-layout-footer__inner">
      <ul>
        <li class="mcam-layout-footer__item"><a href="/terms-of-use.html">Terms of Use</a></li>
        <li class="mcam-layout-footer__item"><a href="/privacy-notice.html">Privacy Notice</a></li>
      </ul>
      <p>MCAM® 2019 - All rights reserved</p>
    </div>
  </div>
</footer>