<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNVNHK9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="mcam-layout-header">
  <div class="mcam-layout-header__inner">
    <a href="/index.html" class="mcam-layout-header__logo">
      <img src="/img/logo_mcam.svg" alt="Logo MCAM">
    </a>
    <nav class="mcam-layout-header__nav">
      <a href="/index.html" class="mcam-layout-header__item{{#if home }} active{{/if}}">Home</a>
      <a href="/client-stories.html" class="mcam-layout-header__item {{#if clientStories }} active{{/if}}">Client Stories</a>
      <a href="/our-solutions.html" class="mcam-layout-header__item {{#if ourSolutions }} active{{/if}}">Our Solutions</a>
      <a href="/contact.html" class="mcam-cta">
        <span class="mcam-cta__link">Contact us</span>
      </a>
    </nav>
  </div>
</header>