<!-- Begin Mailchimp Signup Form -->
<div class="mcam-layout-section">
  <div class="mcam-section-newsletter">
    <div class="mcam-layout-section__inner">
      <div id="mc_embed_signup">
        <p class="mcam-layout-section__title mcam-button">Get in touch</p>
        <h2 class="mcam-section-newsletter__title mcam-headline-2">Subscribe for a monthly update on our solutions for Oil & Gas</h2>
        <form action="https://mcam.us3.list-manage.com/subscribe/post?u=74715211fe9794288bb7785c3&amp;id=87bd74b457"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="mcam-section-contact__form validate" target="_blank" novalidate>
          <div class="mcam-section-contact__fieldsets">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_74715211fe9794288bb7785c3_87bd74b457" tabindex="-1" value="">
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE5"> </label>
              <input type="hidden" value="contact-form" name="MMERGE5" class="" id="mce-MMERGE5">
            </div>
            <fieldset class="mcam-fieldset mcam-fieldset--cta">
              <input class="mcam-fieldset__input" type="email" value="" name="EMAIL" id="mce-EMAIL" required />
              <label class="mcam-fieldset__label" for="mce-EMAIL">
                <span class="mcam-fieldset__label-content">Email Address *</span>
              </label>
              <div class="mcam-cta">
                <input type="submit" value="Send your message" name="subscribe" id="mc-embedded-subscribe" class="mcam-cta__link">
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End mc_embed_signup-->