<!-- Begin Mailchimp Signup Form -->
<div class="mcam-layout-section">
  <div class="mcam-section-newsletter">
    <div class="mcam-layout-section__inner">
      <div id="mc_embed_signup">
        <p class="mcam-layout-section__title mcam-button">Get in touch</p>
        <p class="mcam-section-newsletter__title mcam-headline-2">Subscribe for a monthly update on our solutions for Oil & Gas</p>
        <form action="https://gmail.us3.list-manage.com/subscribe/post?u=74715211fe9794288bb7785c3&amp;id=87bd74b457"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
          novalidate>
          <div id="mc_embed_signup_scroll">
            <fieldset class="mcam-fieldset mcam-fieldset--cta">
              <input type="email" value="" name="EMAIL" class="mcam-fieldset__input email" id="mce-EMAIL" placeholder="" required>
              <label class="mcam-fieldset__label" for="mce-EMAIL">
                <span class="mcam-fieldset__label-content">Email address</span>
              </label>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_74715211fe9794288bb7785c3_87bd74b457" tabindex="-1" value="">
              </div>
              <div class="mcam-cta">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="mcam-cta__link button">
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End mc_embed_signup-->