.o-country {
  height: 100%;
}

.o-country__drag {
  position: absolute;
  top: 50%;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 90px;

  span {
    display: block;
    width: 8px;
    height: 83px;
    background: white;
    border-radius: 10px;
    opacity: 0.4;

    &:nth-of-type(2) {
      margin-left: 6px;
      height: 53px;
    }
  }
}

.o-country__image {
  height: 352px;
}

.o-country__content {
  display: flex;
  padding: 80px 100px;
  height: calc(100% - 352px);
  color: white;
  background: var(--color);
}

.o-country__contentText {
  width: 42%;
}
