{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--404">

  {{#> partials/header}}{{/partials/header}}

  <div class="mcam-layout-section mcam-section-404">
    <picture>
      <source data-srcset="/img/404-mobile.jpg" media="(max-width: 640px)">
      <source data-srcset="/img/404-tablet.jpg" media="(max-width: 1024px)">
      <img data-src="/img/404-desktop.jpg" class="lazy" alt="Image 404"/>
    </picture>
    <div class="mcam-section-404__content">
      <p class="mcam-headline-1">Page not found</p>
      <p class="mcam-section-404__text">sorry, we couldn’t find the page you were looking for...</p>
      <a href="/" class="mcam-cta mcam-cta--red">
        <span class="mcam-cta__link">Go to homepage</span>
      </a>
    </div>
    <p class="mcam-section-404__title">404</p>
  </div>

  {{#> partials/footer}}{{/partials/footer}}

</body>
</html>
