<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>

<body class="mcam-page mcam-page--404">

  <header class="mcam-layout-header">
    <div class="mcam-layout-header__inner">
      <a href="/" class="mcam-layout-header__logo">
        <img src="./img/logo_mcam.svg" alt="Logo MCAM">
      </a>
      <nav class="mcam-layout-header__nav">
        <a href="/" class="mcam-layout-header__item">Home</a>
        <a href="/client-stories.html" class="mcam-layout-header__item">Client Stories</a>
        <a href="/our-solutions.html" class="mcam-layout-header__item">Our Solutions</a>
        <a href="/contact.html" class="mcam-cta">
          <span class="mcam-cta__link">Contact us</span>
        </a>
      </nav>
    </div>
  </header>

  <div class="mcam-layout-section mcam-section-404">
    <picture>
      <source srcset="./img/404-mobile.jpg" media="(max-width: 640px)">
      <source srcset="./img/404-tablet.jpg" media="(max-width: 1024px)">
      <img src="./img/404-desktop.jpg" />
    </picture>
    <div class="mcam-section-404__content">
      <p class="mcam-headline-1">Page not found</p>
      <p class="mcam-section-404__text">sorry, we couldn’t find the page you were looking for...</p>
      <a href="/" class="mcam-cta mcam-cta--red">
        <span class="mcam-cta__link">Go to homepage</span>
      </a>
    </div>
    <p class="mcam-section-404__title">404</p>
  </div>

  <footer class="mcam-layout-footer">
    <div class="mcam-layout-footer__columns">
      <div class="mcam-layout-footer__inner">
        <div class="mcam-layout-footer__column">
          <a href="/" class="mcam-layout-footer__logo">
            <img src="./img/logo_mcam.svg" alt="Logo MCAM">
          </a>
          <p>Mitsubishi Chemical Advanced Materials delivers product and application solutions to all leading industries
            around the
            world.</p>
          <a href="https://mcam.com">Visit mcam.com</a>
        </div>
        <div class="mcam-layout-footer__column">
          <p class="mcam-layout-footer__title">Our industries</p>
          <ul>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Oil & Gas / CPI</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Aerospace & Defense</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Alternative Energy</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Architectural</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Automotive</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Building & Construction</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Food & Beverage</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Heavy Equipment</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Industrial Equipment</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Medical & Life Science</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Recreational Vehicles</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Semiconductor & Electronics</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Sports & Leisure</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Transportation</a></li>
          </ul>
        </div>
        <div class="mcam-layout-footer__column">
          <p class="mcam-layout-footer__title">Contact us</p>
          <a href="" class="mcam-cta-icon">
            <svg class="icon icon-mail">
              <use xlink:href="symbol-defs.svg#icon-mail"></use>
            </svg>
            <span class="mcam-cta-icon__link">Reach out to one of our Oil<br>& Gas experts</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mcam-layout-footer__copyright">
      <div class="mcam-layout-footer__inner">
        <ul>
          <li class="mcam-layout-footer__item"><a href="/privacy-policies.html">Privacy policies</a></li>
          <li class="mcam-layout-footer__item"><a href="/legal.html">Legal</a></li>
          <li class="mcam-layout-footer__item"><a href="/sitemap.html">Sitemap</a></li>
        </ul>
        <p>MCAM® 2019 - All rights reserved</p>
      </div>
    </div>
  </footer>
</body>
</html>
