<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body class="mcam-page mcam-page--contact">

  {{#> partials/header}}{{/partials/header}}

  {{#> partials/contact-form}}{{/partials/contact-form}}

  <footer class="mcam-layout-footer">
    <div class="mcam-layout-footer__columns">
      <div class="mcam-layout-footer__inner">
        <div class="mcam-layout-footer__column">
          <a href="/" class="mcam-layout-footer__logo">
            <img src="/img/logo_mcam.svg" alt="Logo MCAM">
          </a>
          <p>Mitsubishi Chemical Advanced Materials delivers product and application solutions to all leading industries
            around the
            world.</p>
          <a href="https://mcam.com">Visit mcam.com</a>
        </div>
        <div class="mcam-layout-footer__column">
          <p class="mcam-layout-footer__title">Our industries</p>
          <ul>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Oil & Gas / CPI</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Aerospace & Defense</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Alternative Energy</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Architectural</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Automotive</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Building & Construction</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Food & Beverage</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Heavy Equipment</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Industrial Equipment</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Medical & Life Science</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Recreational Vehicles</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Semiconductor & Electronics</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Sports & Leisure</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Transportation</a></li>
          </ul>
        </div>
        <div class="mcam-layout-footer__column">
          <p class="mcam-layout-footer__title">Contact us</p>
          <a href="" class="mcam-cta-icon">
            <svg class="icon icon-mail">
              <use xlink:href="symbol-defs.svg#icon-mail"></use>
            </svg>
            <span class="mcam-cta-icon__link">Reach out to one of our Oil<br>& Gas experts</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mcam-layout-footer__copyright">
      <div class="mcam-layout-footer__inner">
        <ul>
          <li class="mcam-layout-footer__item"><a href="/privacy-policies.html">Privacy policies</a></li>
          <li class="mcam-layout-footer__item"><a href="/legal.html">Legal</a></li>
          <li class="mcam-layout-footer__item"><a href="/sitemap.html">Sitemap</a></li>
        </ul>
        <p>MCAM® 2019 - All rights reserved</p>
      </div>
    </div>
  </footer>
</body>

</html>