{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--solutions">

  {{#> partials/header ourSolutions=true}}{{/partials/header}}

  <div class="mcam-layout-section mcam-layout-section--intro">
    <div class="mcam-layout-section__inner">
      <div class="mcam-section-intro">
        <div class="mcam-section-intro__left">
          <h1 class="mcam-headline-1">Our Solutions for Compressors and Pumps</h1>
        </div>
        <div class="mcam-section-intro__right">
          <p class="mcam-body-text">
            Mitsubishi Chemical Advanced Material is the leader in Engineered Solutions to the compressor and pump market. We engage in material selestion, designing, prototyping, providing advanced polymer stock shapes as well as finished part solutions.<br>
            <br>
            No matter is you are using a turbo compressor turning at 60,000 RPM or a piston compressor turinging at 500 RPM. Our product portfolio and Engineered Solutions allow our technical service team to apply the right solution for your application.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--filters">
    <div class="mcam-layout-section__inner">
      <div class="mcam-section-solutionfilters">
        <p class="mcam-layout-section__title mcam-button">Use the Filters below to find your preferred products</p>
        <div class="mcam-section-solutionfilters__list">
          <a href="#high-temperature-range" class="mcam-block-tab" data-filter="high-temperature-range">
            <svg class="mcam-block-tab__icon icon icon-waves4">
              <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
            </svg>
            <h2 class="mcam-block-tab__title">High Temperature High Pressure (HTHP)</h2>
          </a>
          <a href="#chemical-resistance" class="mcam-block-tab" data-filter="chemical-resistance">
            <svg class="mcam-block-tab__icon icon icon-waves4">
              <use xlink:href="/symbol-defs.svg#icon-waves5"></use>
            </svg>
            <h2 class="mcam-block-tab__title">Chemical Resistance</h2>
          </a>
          <a href="#clearance" class="mcam-block-tab" data-filter="clearance">
            <svg class="mcam-block-tab__icon icon icon-waves4">
              <use xlink:href="/symbol-defs.svg#icon-waves3"></use>
            </svg>
            <h2 class="mcam-block-tab__title">Clearance</h2>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--products">
    <div class="mcam-layout-section__inner">
      <div class="mcam-section-allproducts">
        <div class="mcam-card-product clearance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/ketronr-peek/#c191650" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Ketron-CA30.jpg" class="lazy" alt="CA30 PEEK" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ketron®</div>
              <p class="mcam-card-product__content-title">CA30 PEEK</p>
              <p class="mcam-card-product__content-description">30% Carbon Fiber reinforced grade</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                250°C<br>
                131 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=155162e815f241848467e3ea1b659a48" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product clearance">
          <a href="https://www.mcam.com/support/material-selection-tool/" target="_new" class="mcam-block-product">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Ketron-CA30.jpg" class="lazy" alt="1030 HT PEK" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ketron®</div>
              <p class="mcam-card-product__content-title">1030 HT PEK</p>
              <p class="mcam-card-product__content-description">30% Carbon Fiber Filled PEK HT</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                250°C<br>
                110 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?MatGUID=d69115de41394013ae80a84ffb5547d3" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/ketronr-peek/#c191644" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Ketron-1000-PEEK.jpg" class="lazy" alt="1000 PEEK" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ketron®</div>
              <p class="mcam-card-product__content-title">1000 PEEK</p>
              <p class="mcam-card-product__content-description">Produced from virgin PEEK resin</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                249°C<br>
                110 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=53b9159c018544a599a06726922c9b8e" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/ketronr-peek/#c191649" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Ketron-CA30.jpg" class="lazy" alt="GF30 PEEK" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ketron®</div>
              <p class="mcam-card-product__content-title">GF30 PEEK</p>
              <p class="mcam-card-product__content-description">30% Glass Fiber Filled PEEK</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                249°C<br>
                97 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=26493f911a174fb8b73b778730ea34f5" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/ketronr-peek/#c191652" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Ketron_HPV-PEEK_BLK_RS_1.jpg" class="lazy" alt="HPV PEEK" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ketron®</div>
              <p class="mcam-card-product__content-title">HPV PEEK</p>
              <p class="mcam-card-product__content-description">Carbon fibers, PTFE and graphite to virgin PEEK</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                250°C<br>
                76 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=df26279a6d6b4f089a3371a0fa485a6b" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/fluorosintr-enhanced-ptfe/#c28563" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Fluorosint_135-PTFE_BLK_ST_1.jpg" class="lazy" alt="135" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Fluorosint®</div>
              <p class="mcam-card-product__content-title">135</p>
              <p class="mcam-card-product__content-description">Proprietary Filled PTFE</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                09 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=7135b8c9bcdb4151ac4d6a2f3d53568d" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/fluorosintr-enhanced-ptfe/#c191691" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Fluorosint_HPV-PTFE_TN_ST_1.jpg" class="lazy" alt="207" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Fluorosint®</div>
              <p class="mcam-card-product__content-title">207</p>
              <p class="mcam-card-product__content-description">Mica Filled PTFE</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                10 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=2f4518d2023c4d0092893e29fa8d407f" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/fluorosintr-enhanced-ptfe/" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Fluorosint_HPV-PTFE_TN_ST_1.jpg" class="lazy" alt="500" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Fluorosint®</div>
              <p class="mcam-card-product__content-title">500</p>
              <p class="mcam-card-product__content-description">Reinforced with a proprietary synthetic mica</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                250°C<br>
                7 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=9c7c88c966b94c70aa43a677979e9497" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/fluorosintr-enhanced-ptfe/#c191693" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Fluorosint_135-PTFE_BLK_S_1.jpg" class="lazy" alt="MT-01" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Fluorosint®</div>
              <p class="mcam-card-product__content-title">MT-01</p>
              <p class="mcam-card-product__content-description">Carbon Fiber & Propietary Filled PTFE</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                316°C<br>
                15 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=98a4f8ed821848118b7f0affa401d73f" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/advanced-160-220-c/techtronr-pps/" target="_new" class="mcam-block-product">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Techtron-1000.jpg" class="lazy" alt="1000 PPS" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Techtron®</div>
              <p class="mcam-card-product__content-title">1000 PPS</p>
              <p class="mcam-card-product__content-description">Structural applications in corrosive environments</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                218°C<br>
                93 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=f0babdd2d7424855874d1fe98757b442" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/extreme-220-c/duratronr-pai/#c3530" target="_new" class="mcam-block-product">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Duratron-T4301-PAI.jpg" class="lazy" alt="T4301 PAI" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Duratron®</div>
              <p class="mcam-card-product__content-title">T4301 PAI</p>
              <p class="mcam-card-product__content-description">PTFE and Graphite provide higher wear</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                103 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=b425c0debeb14b3a9ff4d87ebfadcad9" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/extreme-220-c/duratronr-pai/#c3532" target="_new" class="mcam-block-product"> 
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/QEPP_Duratron_CU60_PBI_RodSheet_Black.jpg" class="lazy" alt="T4501 PAI" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Duratron®</div>
              <p class="mcam-card-product__content-title">T4501 PAI</p>
              <p class="mcam-card-product__content-description">General purpose wear and friction parts</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                69 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=bc8b89467708461ba3cc3c8423e693ff" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/extreme-425-f/duratronr-pai/" target="_new" class="mcam-block-product"> 
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Duratron-T4301-PAI.jpg" class="lazy" alt="T4540 PAI" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Duratron®</div>
              <p class="mcam-card-product__content-title">T4540 PAI</p>
              <p class="mcam-card-product__content-description">Compression molded bearing grade PAI</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                62 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SM45" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/extreme-425-f/duratronr-pai/" target="_new" class="mcam-block-product"> 
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Duratron-T4301-PAI.jpg" class="lazy" alt="T7130 PAI" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Duratron®</div>
              <p class="mcam-card-product__content-title">T7130 PAI</p>
              <p class="mcam-card-product__content-description">Extruded 30% Carbon Fiber-reinforced</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                152 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SM48" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://media.mcam.com/fileadmin/quadrant/documents/QEPP/NA/Material_Safety_Data_Sheets_PDF/Duratron_PAI/1809_-_Duratron__T7530_PAI.pdf?_ga=2.213269140.1634540797.1561924958-1854027712.1554141143" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Duratron-T4301-PAI.jpg" class="lazy" alt="T7530 PAI" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Duratron®</div>
              <p class="mcam-card-product__content-title">T7530 PAI</p>
              <p class="mcam-card-product__content-description">Compression Molded 30% carbon fiber</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                260°C<br>
                86 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?MatGUID=7d08625b10b045a7b2466c3c88fe27ae&ckck=1" class="mcam-card-product__bottom-download" target="_new">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/extreme-220-c/duratronr-pbi/" target="_new" class="mcam-block-product"> 
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/QEPP_Duratron_CU60_PBI_RodSheet_Black.jpg" class="lazy" alt="CU60 PBI" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Duratron®</div>
              <p class="mcam-card-product__content-title">CU60 PBI</p>
              <p class="mcam-card-product__content-description">Unfilled PBI</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                316°C<br>
                110 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=0b5b8eb71f444db8a3d7b23df6db0782" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product clearance">
          <a href="https://www.mcam.com/eu-en/products/engineering-plastics/engineering-80-160-c/ertalonr-and-nylatronr-products/nylatronr-gs/" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Fluorosint_HPV-PTFE_TN_ST_1_fake.jpg" class="lazy" alt="GS" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Nylatron®</div>
              <p class="mcam-card-product__content-title">GS</p>
              <p class="mcam-card-product__content-description">Improved structure enhancing bearing and wear properties.</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                80°C<br>
                95 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=027ed54c7206428f965dd1fc60ef11dd" target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance clearance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/engineering-80-160-c/acetals/" target="_new" class="mcam-block-product"> 
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Acetron_GP-POM-C_BLK_RS_1.jpg" class="lazy" alt="GP POM-C" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Acetron®</div>
              <p class="mcam-card-product__content-title">GP POM-C</p>
              <p class="mcam-card-product__content-description">Premium porosity-free PA6</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                82°C<br>
                65 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SM00" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product clearance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/engineering-80-160-c/ertalyter-pet-p/#c3793" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/QEPP_Ertalyte_TX_PET-P_RodSheet_LtGrey.jpg" class="lazy" alt="TX" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ertalyte®</div>
              <p class="mcam-card-product__content-title">TX</p>
              <p class="mcam-card-product__content-description">Premium solid lubricant filled PET</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                99°C<br>
                72 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SM08" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product chemical-resistance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/standard/tivarr-uhmw-pe-family-of-products/tivarr-1000/" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Acetron_GP-POM-C_WHT_RS_1.jpg" class="lazy" alt="1000 UHMW-PE" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">TIVAR®</div>
              <p class="mcam-card-product__content-title">1000 UHMW-PE</p>
              <p class="mcam-card-product__content-description">Unique combination of wear and corrosion resistance</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                82°C<br>
                40 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SMP00" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/standard/tivarr-uhmw-pe-family-of-products/tivarr-1000/#c192006" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Acetron_GP-POM-C_WHT_RS_blue.jpg" class="lazy" alt="HPV UHMW-PE" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">TIVAR®</div>
              <p class="mcam-card-product__content-title">HPV UHMW-PE</p>
              <p class="mcam-card-product__content-description">Developed for demanding production environments</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                82°C<br>
                41 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?MatGUID=d9203c790aab49b1b3342f726cea5583"
            class="mcam-card-product__bottom-download" target="_new">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/standard/tivarr-uhmw-pe-family-of-products/tivarr-hot/" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Acetron_GP-POM-C_WHT_RS_1.jpg" class="lazy" alt="H.O.T UHMW-PE" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">TIVAR®</div>
              <p class="mcam-card-product__content-title">H.O.T UHMW-PE</p>
              <p class="mcam-card-product__content-description">High Temperature UHMW-PE</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                135°C<br>
                47 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SMP13" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
        <div class="mcam-card-product high-temperature-range chemical-resistance">
          <a href="https://www.mcam.com/na-en/products/engineering-plastics/advanced-325-425-f/ketronr-peek/#c3914" class="mcam-block-product"
            target="_new">
            <picture class="mcam-card-product__picture">
              <img data-src="/img/products/Ketron_HPV-PEEK_BLK_RS_1.jpg" class="lazy" alt="CM HPV PEEK" />
            </picture>
            <div class="mcam-card-product__content">
              <div class="mcam-block-tag">Ketron®</div>
              <p class="mcam-card-product__content-title">CM HPV PEEK</p>
              <p class="mcam-card-product__content-description">Compression Molded carbon fiber filled</p>
            </div>
            <div class="mcam-card-product__bottom">
              <svg class="icon icon-waves4">
                <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
              </svg>
              <hr>
              <span>
                249°C<br>
                55 MPa at 23°C
              </span>
            </div>
          </a>
          <a href="http://qepp.matweb.com/search/DataSheet.aspx?Bassnum=P1SM17E" class="mcam-card-product__bottom-download"
            target="_new" class="mcam-card-product__bottom-download">
            <svg class="icon icon-download">
              <use xlink:href="/symbol-defs.svg#icon-download"></use>
            </svg>
          </a>
          <div class="mcam-block-tooltip">
            <span class="mcam-block-tooltip__text">
              Download data sheet
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--more hidden">
    <div class="mcam-layout-section__inner">
      <div class="mcam-section-more high-temperature-range hidden">
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <p class="mcam-layout-section__title mcam-button">Know more about...</p>
            <p class="mcam-headline-2">Thermoplastics for HPHT Applications</p>
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">The oil and gas producers are continuously challenged due to the growing demand for hydrocarbons and as a result are
              constantly pushing to locate and produce new downhole reserves. This means that they encounter increasingly aggressive
              downhole conditions. One such demanding condition is High Pressure High Temperature (HPHT), herein the environment
              reduces the available range of materials to deploy in such deep reservoirs.<br>
              <br>
              HPHT operations are often divided into the three tiers as shown below. Tier 2 (yellow) usually involves wells with fluid
              pressures of up to 20,000 psi and temperatures up to 400 °F. These wells either currently exist or are becoming
              increasingly common in the number of upcoming projects globally. The NA oil & gas market is actively involved in major
              projects with HPHT in the Gulf of Mexico and various land reserves. Oil companies are concentrating on solving major
              challenges they faced during the development and production of such fields which has their Leading equipment
              manufacturers and energy service companies further interested in new thermoplastic material developments to meet such
              challenges. There a few on-going selective exploration trials in the area of Tier 3 (gold) that remain a challenge
              technically and economically offshore. No information is currently available for exploration activities in Tier 4 (red).<br>
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
              <img data-src="/img/HTHP-1.jpg" class="lazy" alt="HTHP-1" />
          </div>
          <div class="mcam-section-more__right">
              <p class="mcam-body-text">Mitsubishi Chemical Advanced Materials understands that energy service companies operating equipment in the second and
              third tier are challenged on high pressure and high temperature (HPHT). That is why we our portfolio of solutions focus
              on improved chemical resistance, higher compressive strength, reduced frictional drag, reduced weight, and improving
              overall efficiency while increasing your MTBR (mean time between repairs). Below is an illustration to help you select a
              material for sealing or for selecting an anti-extrusion backup ring material.<br>
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <img data-src="/img/HTHP-2.jpg" class="lazy" alt="HTHP-2" />
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">The benefits of using materials from Mitsubishi Chemicals Advanced Materials are high mechanical strength, materials
              operating in temperatures of <em>-50°F (45.5°C) to 480°F (250°C)</em>, excellent dimensional stability and low coefficient of
              thermal expansion. Chemical and corrosion resistance is a functional component of HPHT, which is why MCAM continues to
              test and support the Oil & Gas materials for Norsok M-710 (sour gas aging) compliance. This is offered for our <strong>Ketron®
              PEEK</strong> stock shapes and machined components.<br>
              <br>
              Mitsubishi Chemical Advanced Materials Research & Development team continues to develop solutions to meet the
              challenging needs of the design engineers where performance and reliability are required in extreme and hostile
              environments. Advanced properties of chemical and abrasion resistance combined with <em>HPLT/ HPHT</em> ratings and superior
              strength make the MCAM family of materials the ideal choice for structural parts, bushings, bearings, seals and back up
              rings.
            </p>
          </div> 
        </div>
      </div>
      <div class="mcam-section-more chemical-resistance hidden">
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <p class="mcam-layout-section__title mcam-button">Know more about...</p>
            <p class="mcam-headline-2">The Effects of Corrosion on Labryinth Seals</p>
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">Petroleum is divided into two types regarding sulfur content. Petroleum which contains high levels of sulfur is called
              sour crude oil. The opposite of sour crude oil is “Sweet crude oil” which contains small amounts of hydrogen sulfide
              (H2S) and carbon dioxide (CO2). The higher quality, low-sulfur, sweet crude oil is commonly used for processing into
              gasoline and is in high demand, particularly with heavy producers globally.<br>
              <br>
              Inside of the past 10 years, exploration and production companies in both North America and Europe have developed newer
              technologies to extract fossil fuels in deeper elevations of the subsea floor. These formations are producing higher
              temperatures and pressures (HTHP) with elevated concentrations of Hydrogen sulfide (H2S). Typical wells are producing
              fossil fluids with a highly corrosive and abrasive content indicating <10% of hydrogen sulfide. Mitsubishi Chemical
              Adavanced Materials, a leader in engineered thermoplastics for the energy market has been supporting this industry
              with engineered thermoplastics such as Ketron® Peek which has been tested to meet the regulatory conditons set forth
              by NORSOK M-710, in a multi-phase liquid combination.<br>
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <img data-src="/img/corrosion 1.png" class="lazy" alt="corrosion 1" />
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text"><em><u>Mitsubishi Chemical Adavanced Materials’ material solution for corrosives environments</u></em><br>
            <br>
            <em>Flourosint® 500 – Used as an abradeable seal, most commonly applied in “Tooth on Rotor” designs</em><br>
            <br>
            <em>Ketron® Peek – Applied in Compressors with “Tooth on Stator” used in higher temperature, and those units with critical
            speeds</em><br>
            <br>
            In the picture, it shows the upper seal – a degrading metal labyrinth seal from service in a corrosive environment and
            the teeth are sightly mushroom from direct impact and do not deflect back to original position causing a larger radial clearance and increased flow path that delivers insufficent
            performance . Lower seal is a metal labyrinth seal, lower seal is a Peek labyrinth seal where the teeth deflect under
            contact or rub condition and rebound to the orignal position to continue operating and improving compressor efficency
            with a restricted flow path.<br>
            <br>
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <div class="mcam-card-image">
              <figure class="mcam-card-image__picture">
                <img data-src="/img/corrosion 2.png" class="lazy" alt="corrosion 2" />
                <figcaption>Sectional view of a typical centrifugal compressor and labyrinth seal positions</figcaption>
              </figure>
            </div>
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">Recently, the energy market has seen further increase in H2S levels >10% up to 35% by concentration. 
              Mitsubishi Chemical Adavanced Materials is continuing its R&D efforts to develop new Ketron® Peek grades to meet the industry challenge 
              and complete the testing required per NORSOK M-710 and the upcoming ISO 23936-2 specification 
              for elevated levels of sulfur in sour crude as a replacement of metal labyrinth seals which are chemically 
              attacked signaling  poor and insufficent compressor performance in the industry.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="mcam-section-more clearance hidden">
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <p class="mcam-layout-section__title mcam-button">Know more about...</p>
            <p class="mcam-headline-2">Thermoplastic Labyrinth Seals</p>
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">Labyrinth seals are commonly found in centrifugal compressors used to increase the gas pressure. 
              Labyrinth seals manufactured from polymers are essentially a series of angled machined annular grooves acting as orifices 
              <em>(orifice allow flow to continue at new reduced pressure and slow the flow rate on the low pressure side)</em> 
              to reduce a region of high pressure from the low pressure region.<br>
              <br>
              Labyrinth seals are not to be confused with labyrinth bushings which act as fluid isolator 
              to keep high pressure or contaminants from a certain region. Labyrinth seals in a centrifugal compressor are actually 
              “clearance seals” which leak by design. The engineer developing a labyrinth seal design needs to determine 
              “how much clearance can be applied” without impacting the labyrinth seal grooves.  
              The illustration below points out the locations in a centrifugal compressor where labyrinth seals are positioned.<br>
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <img data-src="/img/clearance-1.png" class="lazy" alt="clearance-1" />
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">Within centrifugal compressors labyrinth seals play a major role on the efficiency of the compressor.  
              <em>A centrifugal compressor function is to increase gas pressure and the pressure is contained by the various labyrinth seals positioned 
              throughout the compressor that block high pressure from the low pressure that keeps the compressor operating smoothly.</em> 
              Unlike metal labyrinth seals which are designed with a larger ID clearance to eliminate contact during a rub condition, 
              (radial) tighter clearances in metal labyrinth cannot be done without being impacted by rub condition, vibration on the rub condition, 
              or heavy contact with the rotating element.  Any contact with the metal labyrinth seal, whether minor or major, can negatively 
              increase the flow path thereby reducing the compressor efficiency. From the impact of the rotating element, the annular grooves become 
              rolled or mushroomed on the labyrinth.  Below the illustration depicts how the metal labyrinth seal impacts compressor efficiency.<br>
              <br>
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <img data-src="/img/clearance-2.png" class="lazy" alt="clearance-2" />
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">The illustration points out that increased labyrinth clearances and damages to the labyrinth seal, 
              possibly bearings, and rotating element have significantly reduced compressor efficiency due to dynamic operational changes.<br>
              <br>
              Now let’s review the same scenario but we will exchange the metal labyrinth seal with a thermoplastic (Ketron® or Duratron®) labyrinth seal.<br>
              <br>
              First, we can start by adjusting annular groove and primary ID and lowering it by 50% including angling the grooves ~10 degrees minimum.   
              The design engineer can alter the ID up or down dimensionally based on the operating conditions of their specific centrifugal compressor.<br>
              <br>
              One key benefit is in a dynamic rub condition, the polymer teeth deflect on contact instead of the rounding/flattening found with the metal labyrinth seals.  
              A second benefit is that there is no grooving or impact on the rotating element as the teeth return to original position and maintaining the machined clearance. 
              The compressor operation is secured while increasing both the efficiency and reducing unnecessary and costly repairs.
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <img data-src="/img/clearance-3.png" class="lazy" alt="clearance-3" />
          </div>
          <div class="mcam-section-more__right">
            <p class="mcam-body-text">You have now been exposed the issues commonly associated with the use metal labyrinth seals as well as the benefits 
              of using thermoplastic labyrinth seals.  Please review the five common features noted in the illustration below that any engineer should 
              consider when designing thermoplastic labyrinth seals to improve the efficiency of a centrifugal compressor. 
            </p>
          </div>
        </div>
        <div class="mcam-section-more__column">
          <div class="mcam-section-more__left">
            <img data-src="/img/clearance-4.png" class="lazy" alt="clearance-4" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--certif">
    <div class="mcam-layout-section__inner">
      <div class="mcam-block-certif">
        <div class="mcam-"></div>
        <div class="mcam-block-certif__logos">
          <img data-src="/img/logo1.jpg" class="lazy" alt="NORSOK M-710">
          <img data-src="/img/logo2.jpg" class="lazy" alt="PASSED">
        </div>
        <p class="mcam-block-certif__text">Mitsubishi Chemical Advanced Materials was the world’s FIRST to earn NORSOK
          M-710
          compliance and provides the most
          accurate and reliable data on their stock shapes.The NORSOK M-710 specification was developed by the Norwegian
          petroleum
          industry to ensure sufficient understanding and experience of oil and gas materials. It specifies a test
          procedure
          to
          predict the progressive degradation of thermoplastic materials exposed to a sour fluid at elevated pressure and
          temperature over an extended period of time.</p>
      </div>
    </div>
  </div>

  {{#> partials/newsletter}}{{/partials/newsletter}}

  {{#> partials/footer}}{{/partials/footer}}
  
</body>
</html>