<!DOCTYPE html>
<html>
<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>

<body>

  <header class="mcam-layout-header">
    <div class="mcam-layout-header__inner">
      <a href="/" class="mcam-layout-header__logo">
        <img src="img/logo_mcam.svg" alt="Logo MCAM">
      </a>
      <nav class="mcam-layout-header__nav">
        <a href="/" class="mcam-layout-header__item">Home</a>
        <a href="/client-stories.html" class="mcam-layout-header__item">Client Stories</a>
        <a href="/our-solutions.html" class="mcam-layout-header__item">Our Solutions</a>
        <a href="/contact.html" class="mcam-cta">
          <span class="mcam-cta__link">Contact us</span>
        </a>
      </nav>
    </div>
  </header>

  <h1 style="font-size: 40px; text-align: center; margin: 20px 0;">SITEMAP</h1>

  <script src="index.js" defer async></script>
</body>
</html>