{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--thanks">

  {{#> partials/header}}{{/partials/header}}

  <div class="mcam-layout-section">
    <div class="section-contact">
      <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
        <p class="mcam-layout-section__title mcam-button">Want to know more?</p>
        <h2 class="section-contact__title mcam-headline-2">{{ title }}</h2>
        <p class="section-contact__subtitle mcam-body-text">We will be in touch with you shortly.</p>
        <a href="/" class="mcam-cta mcam-cta--red">
          <span class="mcam-cta__link">Go to homepage</span>
        </a>
      </div>
    </div>
  </div>

  {{#> partials/footer}}{{/partials/footer}}

</body>

</html>