{{#> ./../partials/html-header }}{{/./../partials/html-header}}

<body class="page page--solution page--solution2">

  {{#> ./../partials/header}}{{/./../partials/header}}

  {{#> ./../partials/breadcrumb 
    parentUrl="our-solutions" 
    parentPage="Our Engineered Solutions" 
    currentPage=title
  }}
  {{/./../partials/breadcrumb}}

  <div class="section section--intro">
    <div class="mcam-layout-section__inner">
      <div class="section-article">
        <div class="section-article__head">
          <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
          <p class="section-article__description mcam-body-text">{{ metaDescription }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--content">
    <div class="mcam-layout-section__inner">
      <div class="section-article__content section-article__content--left">
        <div class="section-article__images">
          <img src="/img/solutions/2-image-1.jpg" alt="">
        </div>
        <p class="mcam-body-text">
          In addition, our extensive in-house stock shapes allows for quicker procurement, cheaper material costs, highest quality
          and consistent material properties, etc.<br>
          <br>
          With our vertical integration keeps nearly all aspects of our value stream in house allowing for better lead times and
          tighter control of critical operations –yielding excellent quality control and the tightest tolerances in the industry.
        </p>
        <br>
        <p class="mcam-body-text"><strong>Some of the value stream areas are:</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Materials specification (engineering)
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Component/Assembly design validation (engineering)
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Resin compounding
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Injection Molding/extrusion/casting
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Annealing –heat treating
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Precision machining and fabrication
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Assembly
          </li>
        </ul>
        <div class="customer">
          <p class="mcam-button">What they say about MCAM</p>
          <p class="customer__title mcam-headline-3">Customer XYZ</p>
          <p class="customer__job mcam-body-text">Global Market Manager, Oil & Gas</p>
          <p class="customer__text">Thanks to MCAM, I received my samples within 48 hours Cras ac vestibulum nulla,
            vitae luctus ligula. Duis non lacus
            libero. Pellentesque gravida eget justo ut cursus. In luctus turpis vel enim auctor, non vulputate nunc
            viverra</p>
          <a href="/no-url.html" class="mcam-cta">
            <span class="mcam-cta__link">Read the full story</span>
          </a>
        </div>
        {{#> ./../partials/get-in-touch}}{{/./../partials/get-in-touch}}
      </div>
      <div class="section-article__content section-article__content--right">
        <div class="what-side">
          <p class="mcam-button">What do we offer?</p>
          <ul class="mcam-body-tick">
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              CNC Machining
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Injection molding
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Additive Manufacturing
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Fabrication
            </li>
          </ul>
          <a href="/no-url.html" class="mcam-cta">
            <span class="mcam-cta__link">Let’s get started</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

  {{#> ./../partials/footer}}{{/./../partials/footer}}

</body>

</html>