{{#> ./../partials/html-header }}{{/./../partials/html-header}}

<body class="page page--solution page--solution3">

  {{#> ./../partials/header}}{{/./../partials/header}}

  {{#> ./../partials/breadcrumb 
    parentUrl="our-solutions" 
    parentPage="Our Engineered Solutions" 
    currentPage=title
  }}
  {{/./../partials/breadcrumb}}

  <div class="section section--intro">
    <div class="mcam-layout-section__inner">
      <div class="section-article">
        <div class="section-article__head">
          <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
          <p class="section-article__description mcam-body-text">{{ metaDescription }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--content">
    <div class="mcam-layout-section__inner">
      <div class="section-article__content section-article__content--left">
        <div class="section-article__images">
          <img src="/img/solutions/3-image-1.jpg" alt="">
          <img src="/img/solutions/3-image-2.jpg" alt="">
          <img src="/img/solutions/3-image-3.jpg" alt="">
        </div>
        <p class="mcam-body-text">
          For our rapid prototyping capabilities, we offer unique capabilities that allows us to provide both 3D printed type
          parts and/or CNC machined parts.
        </p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Our 3D capabilities are unique because we are able to get complex designed parts, with superior mechanical properties,
            quicker to our customers than our competition.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            For CNC machined parts we have automated capabilities with feature recognition programming to reduce manufacturing time.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Proprietary Additive Manufacturing Technology gives our customer 3D printed dimensional features, but with injection
            molded mechanical properties. It solves the weakness of current 3D technology printed parts.
          </li>
        </ul>
        <div class="customer">
          <p class="mcam-button">What they say about MCAM</p>
          <p class="customer__title mcam-headline-3">Andrew</p>
          <p class="customer__job mcam-body-text">Manufacturing Engineer</p>
          <p class="customer__text">We are excited to be at the forefront of co-bot implementation. Co-bot technology is growing fast enough to keep up with
          our wants and needs.</p>
        </div>
        {{#> ./../partials/get-in-touch}}{{/./../partials/get-in-touch}}
      </div>
      <div class="section-article__content section-article__content--right">
        <div class="what-side">
          <p class="mcam-button">What is in it for you?</p>
          <ul class="mcam-body-tick">
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Lead time in as few as 1-3 days
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Faster delivery on CNC Milling and Turning prototype parts
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Tight tolerance for both metal and plastic parts
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Unique Additive Manufacturing – 3D printing dimensional features with injection molded mechanical properties
            </li>
          </ul>
          <a href="/contact.html" class="mcam-cta">
            <span class="mcam-cta__link">Let’s get started</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

  {{#> ./../partials/footer}}{{/./../partials/footer}}

</body>

</html>