{{#> ./../partials/html-header }}{{/./../partials/html-header}}

<body class="page page--solution page--solution4">

  {{#> ./../partials/header}}{{/./../partials/header}}

  {{#> ./../partials/breadcrumb 
    parentUrl="our-solutions" 
    parentPage="Our Engineered Solutions"
    currentPage=title
  }}
  {{/./../partials/breadcrumb}}

  <div class="section section--intro">
    <div class="mcam-layout-section__inner">
      <div class="section-article">
        <div class="section-article__head">
          <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
          <p class="section-article__description mcam-body-text">
            {{ metaDescription }}<br>
            <br>
            Welded Rings
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--content">
    <div class="mcam-layout-section__inner">
      <div class="section-article__content section-article__content--left">
        <div class="section-article__images">
          <img src="/img/solutions/4-image-1.jpg" alt="">
        </div>
        <p class="mcam-body-text">
          <span class="mcam-body-text--title">Context</span>
        </p>
        <p class="mcam-body-text">
        Over the last 4 years, we developed large ring production method via segment welding technique in R&D Tielt (Belgium)
        </p>
        <p class="mcam-body-text">
          <span class="mcam-body-text--title">Applications</span>
        </p>
        <p class="mcam-body-text">
          Used for machining of parts for large off shore swivel points –e.g. back-up rings, gaskets
        </p>
        <p class="mcam-body-text">
          <span class="mcam-body-text--title">Size range</span>
        </p>
        <p class="mcam-body-text">
          OD from 700mm typically up to diam 2m, but in principle possible up to 4.5m (with special transportation) in near net
          shape
        </p>
        <p class="mcam-body-text">
          <span class="mcam-body-text--title">Materials</span>
        </p>
        <p class="mcam-body-text">
          PEEK, PEEK TX, PEEK+PTFE, PE500
        </p>
        <p class="mcam-body-text">
          <span class="mcam-body-text--title">Quality of welds</span>
        </p>
        <p class="mcam-body-text">
          Controlled via X-ray pictures on eventual porosities or inclusions. Lot of development work on process steps and
          conditions to come to consistent good quality.
        </p>
        <p class="mcam-body-text">
          <span class="mcam-body-text--title">Welding factor</span>
        </p>
        <p class="mcam-body-text">
          >95% of original material strength and good max elongation far above yield point (>15%)
          Low residual stress
        </p>
      </div>
      <div class="section-article__content section-article__content--right">
        <div class="what-side">
          <p class="mcam-button">What we have been striving to accomplish:</p>
          <ul class="mcam-body-tick">
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Extending Asset Life
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Improving Reliability
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Sustaining Production
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Ensuring Safety
            </li>
          </ul>
          <a href="/no-url.html" class="mcam-cta">
            <span class="mcam-cta__link">Let’s get started</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

  {{#> ./../partials/footer}}{{/./../partials/footer}}

</body>

</html>